.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image.fit,
.image.featured {
    display: block;
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 auto;
}
